.legal-button{
    background-color: #B68C5A !important;
    border: 0;
}
p, a, button, input{
    font-family: 'Poppins', sans-serif !important;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'EB Garamond', serif;
}
.legal-banner{
    background-repeat: no-repeat;
    background-size: contain;
}